{{ range .Site.Params.googlefonts }}
       <link rel="stylesheet" {{ printf "href=\"//fonts.googleapis.com/css?family=%s\"" . | safeHTMLAttr }} type="text/css" media="all" />
{{ end }}
<!-- <link rel="stylesheet" href="/css/custom_style.css" type="css" media="all" /> -->
<style>

    @font-face {
        font-family: monaco123;
        font-weight: 100%;
        font-style: normal;
        src: url("/fonts/MONACO.TTF");
    } 

    code {
        font-family: monaco123;
        font-size: 100%;
    }

</style>

<a href="#" id="openpopup"></a>

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>

<script type="text/javascript">

function showMailingPopUp() {
    window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us4.list-manage.com","uuid":"0b10ac14f50d7f4e7d11cf26a","lid":"667a1bb3da","uniqueMethods":true}) })
}

document.getElementById("openpopup").onclick = function() {showMailingPopUp()};

</script>